TechnoDemokratia/TechnoDemokratia/Service References/ServicoAutenticacao/InterfaceAutenticacao3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServicoAutenticacao.TO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServicoAutenticacao.TO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PessoaTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RetornoServicoTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="CPF" type="xs:long" />
          <xs:element minOccurs="0" name="DataCadastro" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FacebookID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Google_ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IdAtivacao" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IdPessoa" type="xs:int" />
          <xs:element minOccurs="0" name="ImagemPerfil" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InstagramID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LinkedInID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Senha" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Situacao" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TwitterID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PessoaTO" nillable="true" type="tns:PessoaTO" />
  <xs:complexType name="RetornoServicoTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="DescricaoFalha" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InfoRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sucesso" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoServicoTO" nillable="true" type="tns:RetornoServicoTO" />
  <xs:complexType name="ListaPessoasTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RetornoServicoTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Lista" nillable="true" type="tns:ArrayOfPessoaTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListaPessoasTO" nillable="true" type="tns:ListaPessoasTO" />
  <xs:complexType name="ArrayOfPessoaTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PessoaTO" nillable="true" type="tns:PessoaTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPessoaTO" nillable="true" type="tns:ArrayOfPessoaTO" />
</xs:schema>