testeanexararquivoprojeto/testeanexararquivoprojeto/Service References/ServiceReference1/InterfacePublicacao1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServicoPublicacao.TO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServicoPublicacao.TO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProjetoTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RetornoServicoTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="CaminhoImagem" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DataCadastro" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IdPessoa" type="xs:int" />
          <xs:element minOccurs="0" name="IdProjeto" type="xs:int" />
          <xs:element minOccurs="0" name="IndiceAprov" type="xs:int" />
          <xs:element minOccurs="0" name="PorcentagemAprov" type="xs:int" />
          <xs:element minOccurs="0" name="PorcentagemReprov" type="xs:int" />
          <xs:element minOccurs="0" name="PosicaoPolitica" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Situacao" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TipoProjeto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Titulo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProjetoTO" nillable="true" type="tns:ProjetoTO" />
  <xs:complexType name="RetornoServicoTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="DescricaoFalha" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sucesso" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoServicoTO" nillable="true" type="tns:RetornoServicoTO" />
  <xs:complexType name="ListaProjetoTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RetornoServicoTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Lista" nillable="true" type="tns:ArrayOfProjetoTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListaProjetoTO" nillable="true" type="tns:ListaProjetoTO" />
  <xs:complexType name="ArrayOfProjetoTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProjetoTO" nillable="true" type="tns:ProjetoTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProjetoTO" nillable="true" type="tns:ArrayOfProjetoTO" />
  <xs:complexType name="DetalhesProjetoTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RetornoServicoTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="CaminhoImagem" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DataCadastro" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Ementa" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Epigrafe" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Fecho" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IdPessoa" type="xs:int" />
          <xs:element minOccurs="0" name="IdProjeto" type="xs:int" />
          <xs:element minOccurs="0" name="IndiceAprov" type="xs:int" />
          <xs:element minOccurs="0" name="Justificativa" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PorcentagemAprov" type="xs:int" />
          <xs:element minOccurs="0" name="PorcentagemReprov" type="xs:int" />
          <xs:element minOccurs="0" name="PosicaoPolitica" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Preambulo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Situacao" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Titulo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DetalhesProjetoTO" nillable="true" type="tns:DetalhesProjetoTO" />
  <xs:complexType name="ListaTipoProjetoTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RetornoServicoTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Lista" nillable="true" type="tns:ArrayOfTipoProjetoTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListaTipoProjetoTO" nillable="true" type="tns:ListaTipoProjetoTO" />
  <xs:complexType name="ArrayOfTipoProjetoTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoProjetoTO" nillable="true" type="tns:TipoProjetoTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoProjetoTO" nillable="true" type="tns:ArrayOfTipoProjetoTO" />
  <xs:complexType name="TipoProjetoTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Abreviacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoProjetoTO" nillable="true" type="tns:TipoProjetoTO" />
  <xs:complexType name="ListaArtigoTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RetornoServicoTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Lista" nillable="true" type="tns:ArrayOfArtigoTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListaArtigoTO" nillable="true" type="tns:ListaArtigoTO" />
  <xs:complexType name="ArrayOfArtigoTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArtigoTO" nillable="true" type="tns:ArtigoTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArtigoTO" nillable="true" type="tns:ArrayOfArtigoTO" />
  <xs:complexType name="ArtigoTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RetornoServicoTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Capitulo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DataMovimento" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IdArtigo" type="xs:int" />
          <xs:element minOccurs="0" name="IdPessoa" type="xs:int" />
          <xs:element minOccurs="0" name="IdProjeto" type="xs:int" />
          <xs:element minOccurs="0" name="IsSugestao" type="xs:boolean" />
          <xs:element minOccurs="0" name="Ordem" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ArtigoTO" nillable="true" type="tns:ArtigoTO" />
  <xs:complexType name="ListaPosicaoPoliticaTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RetornoServicoTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Lista" nillable="true" type="tns:ArrayOfPosicaoPoliticaTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListaPosicaoPoliticaTO" nillable="true" type="tns:ListaPosicaoPoliticaTO" />
  <xs:complexType name="ArrayOfPosicaoPoliticaTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PosicaoPoliticaTO" nillable="true" type="tns:PosicaoPoliticaTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPosicaoPoliticaTO" nillable="true" type="tns:ArrayOfPosicaoPoliticaTO" />
  <xs:complexType name="PosicaoPoliticaTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PosicaoPoliticaTO" nillable="true" type="tns:PosicaoPoliticaTO" />
</xs:schema>