TechnoDemokratia/TechnoDemokratia/Service References/ServicoPublicacao/InterfacePublicacao4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://publishtheseed.azurewebsites.net/InterfacePublicacao.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServicoPublicacao.TO" />
  <xs:import schemaLocation="https://publishtheseed.azurewebsites.net/InterfacePublicacao.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="ConsultarHaSugestaoPessoa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="p_IdPessoa" type="xs:int" />
        <xs:element minOccurs="0" name="p_IdArtigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarHaSugestaoPessoaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServicoPublicacao.TO" minOccurs="0" name="ConsultarHaSugestaoPessoaResult" nillable="true" type="q1:RetornoServicoTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarArtigosSubstitutivosDoArtigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="p_IdArtigo" type="xs:int" />
        <xs:element minOccurs="0" name="indice" type="xs:int" />
        <xs:element minOccurs="0" name="alcance" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarArtigosSubstitutivosDoArtigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServicoPublicacao.TO" minOccurs="0" name="ListarArtigosSubstitutivosDoArtigoResult" nillable="true" type="q2:ListaArtigoTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PesquisarProjetos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServicoPublicacao.TO" minOccurs="0" name="parametros" nillable="true" type="q3:ProjetoTO" />
        <xs:element minOccurs="0" name="indice" type="xs:int" />
        <xs:element minOccurs="0" name="alcance" type="xs:int" />
        <xs:element minOccurs="0" name="rangeInicialDataCadastro" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="rangeFinalDataCadastro" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PesquisarProjetosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServicoPublicacao.TO" minOccurs="0" name="PesquisarProjetosResult" nillable="true" type="q4:ListaProjetoTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncluirProjeto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServicoPublicacao.TO" minOccurs="0" name="p_ProjetoTO" nillable="true" type="q5:ProjetoTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncluirProjetoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ServicoPublicacao.TO" minOccurs="0" name="IncluirProjetoResult" nillable="true" type="q6:RetornoServicoTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnexarArquivoProjeto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TipoProjeto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NumeroRegistro" type="xs:int" />
        <xs:element minOccurs="0" name="AnoRegistro" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnexarArquivoProjetoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ServicoPublicacao.TO" minOccurs="0" name="AnexarArquivoProjetoResult" nillable="true" type="q7:RetornoServicoTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarProjetos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="indice" type="xs:int" />
        <xs:element minOccurs="0" name="alcance" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarProjetosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ServicoPublicacao.TO" minOccurs="0" name="ListarProjetosResult" nillable="true" type="q8:ListaProjetoTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarProjeto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="p_idProjeto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarProjetoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ServicoPublicacao.TO" minOccurs="0" name="ConsultarProjetoResult" nillable="true" type="q9:DetalhesProjetoTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTiposProjeto">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTiposProjetoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ServicoPublicacao.TO" minOccurs="0" name="ListarTiposProjetoResult" nillable="true" type="q10:ListaTipoProjetoTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarArtigosdoProjeto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="p_idProjeto" type="xs:int" />
        <xs:element minOccurs="0" name="indice" type="xs:int" />
        <xs:element minOccurs="0" name="alcance" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarArtigosdoProjetoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ServicoPublicacao.TO" minOccurs="0" name="ListarArtigosdoProjetoResult" nillable="true" type="q11:ListaArtigoTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarSituacaoProjeto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="p_SituacaoProjeto" type="q12:SituacaoProjeto" />
        <xs:element minOccurs="0" name="p_idProjeto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarSituacaoProjetoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ServicoPublicacao.TO" minOccurs="0" name="AlterarSituacaoProjetoResult" nillable="true" type="q13:RetornoServicoTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncluirSugestaoArtigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="p_IdartigoPai" type="xs:int" />
        <xs:element minOccurs="0" name="p_Descricao" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncluirSugestaoArtigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ServicoPublicacao.TO" minOccurs="0" name="IncluirSugestaoArtigoResult" nillable="true" type="q14:RetornoServicoTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletarArtigosObsoletos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletarArtigosObsoletosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ServicoPublicacao.TO" minOccurs="0" name="DeletarArtigosObsoletosResult" nillable="true" type="q15:RetornoServicoTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPosicoesPoliticas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPosicoesPoliticasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ServicoPublicacao.TO" minOccurs="0" name="ListarPosicoesPoliticasResult" nillable="true" type="q16:ListaPosicaoPoliticaTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>