TechnoDemokratia/TechnoDemokratia/Service References/ServicoVotacao/InterfaceVotacao.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="InterfaceVotacao" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55332/InterfaceVotacao.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55332/InterfaceVotacao.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55332/InterfaceVotacao.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServicoVotacao.TO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IInterfaceVotacao_ConsultarVoto_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarVoto" />
  </wsdl:message>
  <wsdl:message name="IInterfaceVotacao_ConsultarVoto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarVotoResponse" />
  </wsdl:message>
  <wsdl:message name="IInterfaceVotacao_EfetuarVotacao_InputMessage">
    <wsdl:part name="parameters" element="tns:EfetuarVotacao" />
  </wsdl:message>
  <wsdl:message name="IInterfaceVotacao_EfetuarVotacao_OutputMessage">
    <wsdl:part name="parameters" element="tns:EfetuarVotacaoResponse" />
  </wsdl:message>
  <wsdl:message name="IInterfaceVotacao_IncluirVoto_InputMessage">
    <wsdl:part name="parameters" element="tns:IncluirVoto" />
  </wsdl:message>
  <wsdl:message name="IInterfaceVotacao_IncluirVoto_OutputMessage">
    <wsdl:part name="parameters" element="tns:IncluirVotoResponse" />
  </wsdl:message>
  <wsdl:message name="IInterfaceVotacao_AtualizarVoto_InputMessage">
    <wsdl:part name="parameters" element="tns:AtualizarVoto" />
  </wsdl:message>
  <wsdl:message name="IInterfaceVotacao_AtualizarVoto_OutputMessage">
    <wsdl:part name="parameters" element="tns:AtualizarVotoResponse" />
  </wsdl:message>
  <wsdl:message name="IInterfaceVotacao_ContarVotosPorArtigo_InputMessage">
    <wsdl:part name="parameters" element="tns:ContarVotosPorArtigo" />
  </wsdl:message>
  <wsdl:message name="IInterfaceVotacao_ContarVotosPorArtigo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ContarVotosPorArtigoResponse" />
  </wsdl:message>
  <wsdl:message name="IInterfaceVotacao_ContarVotosPorProjeto_InputMessage">
    <wsdl:part name="parameters" element="tns:ContarVotosPorProjeto" />
  </wsdl:message>
  <wsdl:message name="IInterfaceVotacao_ContarVotosPorProjeto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ContarVotosPorProjetoResponse" />
  </wsdl:message>
  <wsdl:message name="IInterfaceVotacao_ContarVotosPorAutor_InputMessage">
    <wsdl:part name="parameters" element="tns:ContarVotosPorAutor" />
  </wsdl:message>
  <wsdl:message name="IInterfaceVotacao_ContarVotosPorAutor_OutputMessage">
    <wsdl:part name="parameters" element="tns:ContarVotosPorAutorResponse" />
  </wsdl:message>
  <wsdl:message name="IInterfaceVotacao_ObterAprovacaoPopularAutorProjetos_InputMessage">
    <wsdl:part name="parameters" element="tns:ObterAprovacaoPopularAutorProjetos" />
  </wsdl:message>
  <wsdl:message name="IInterfaceVotacao_ObterAprovacaoPopularAutorProjetos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterAprovacaoPopularAutorProjetosResponse" />
  </wsdl:message>
  <wsdl:message name="IInterfaceVotacao_AtualizarProjetoComAprovacao_InputMessage">
    <wsdl:part name="parameters" element="tns:AtualizarProjetoComAprovacao" />
  </wsdl:message>
  <wsdl:message name="IInterfaceVotacao_AtualizarProjetoComAprovacao_OutputMessage">
    <wsdl:part name="parameters" element="tns:AtualizarProjetoComAprovacaoResponse" />
  </wsdl:message>
  <wsdl:portType name="IInterfaceVotacao">
    <wsdl:operation name="ConsultarVoto">
      <wsdl:input wsaw:Action="http://tempuri.org/IInterfaceVotacao/ConsultarVoto" message="tns:IInterfaceVotacao_ConsultarVoto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInterfaceVotacao/ConsultarVotoResponse" message="tns:IInterfaceVotacao_ConsultarVoto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EfetuarVotacao">
      <wsdl:input wsaw:Action="http://tempuri.org/IInterfaceVotacao/EfetuarVotacao" message="tns:IInterfaceVotacao_EfetuarVotacao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInterfaceVotacao/EfetuarVotacaoResponse" message="tns:IInterfaceVotacao_EfetuarVotacao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IncluirVoto">
      <wsdl:input wsaw:Action="http://tempuri.org/IInterfaceVotacao/IncluirVoto" message="tns:IInterfaceVotacao_IncluirVoto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInterfaceVotacao/IncluirVotoResponse" message="tns:IInterfaceVotacao_IncluirVoto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AtualizarVoto">
      <wsdl:input wsaw:Action="http://tempuri.org/IInterfaceVotacao/AtualizarVoto" message="tns:IInterfaceVotacao_AtualizarVoto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInterfaceVotacao/AtualizarVotoResponse" message="tns:IInterfaceVotacao_AtualizarVoto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ContarVotosPorArtigo">
      <wsdl:input wsaw:Action="http://tempuri.org/IInterfaceVotacao/ContarVotosPorArtigo" message="tns:IInterfaceVotacao_ContarVotosPorArtigo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInterfaceVotacao/ContarVotosPorArtigoResponse" message="tns:IInterfaceVotacao_ContarVotosPorArtigo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ContarVotosPorProjeto">
      <wsdl:input wsaw:Action="http://tempuri.org/IInterfaceVotacao/ContarVotosPorProjeto" message="tns:IInterfaceVotacao_ContarVotosPorProjeto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInterfaceVotacao/ContarVotosPorProjetoResponse" message="tns:IInterfaceVotacao_ContarVotosPorProjeto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ContarVotosPorAutor">
      <wsdl:input wsaw:Action="http://tempuri.org/IInterfaceVotacao/ContarVotosPorAutor" message="tns:IInterfaceVotacao_ContarVotosPorAutor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInterfaceVotacao/ContarVotosPorAutorResponse" message="tns:IInterfaceVotacao_ContarVotosPorAutor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObterAprovacaoPopularAutorProjetos">
      <wsdl:input wsaw:Action="http://tempuri.org/IInterfaceVotacao/ObterAprovacaoPopularAutorProjetos" message="tns:IInterfaceVotacao_ObterAprovacaoPopularAutorProjetos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInterfaceVotacao/ObterAprovacaoPopularAutorProjetosResponse" message="tns:IInterfaceVotacao_ObterAprovacaoPopularAutorProjetos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AtualizarProjetoComAprovacao">
      <wsdl:input wsaw:Action="http://tempuri.org/IInterfaceVotacao/AtualizarProjetoComAprovacao" message="tns:IInterfaceVotacao_AtualizarProjetoComAprovacao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInterfaceVotacao/AtualizarProjetoComAprovacaoResponse" message="tns:IInterfaceVotacao_AtualizarProjetoComAprovacao_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IInterfaceVotacao" type="tns:IInterfaceVotacao">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarVoto">
      <soap:operation soapAction="http://tempuri.org/IInterfaceVotacao/ConsultarVoto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EfetuarVotacao">
      <soap:operation soapAction="http://tempuri.org/IInterfaceVotacao/EfetuarVotacao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IncluirVoto">
      <soap:operation soapAction="http://tempuri.org/IInterfaceVotacao/IncluirVoto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AtualizarVoto">
      <soap:operation soapAction="http://tempuri.org/IInterfaceVotacao/AtualizarVoto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ContarVotosPorArtigo">
      <soap:operation soapAction="http://tempuri.org/IInterfaceVotacao/ContarVotosPorArtigo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ContarVotosPorProjeto">
      <soap:operation soapAction="http://tempuri.org/IInterfaceVotacao/ContarVotosPorProjeto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ContarVotosPorAutor">
      <soap:operation soapAction="http://tempuri.org/IInterfaceVotacao/ContarVotosPorAutor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterAprovacaoPopularAutorProjetos">
      <soap:operation soapAction="http://tempuri.org/IInterfaceVotacao/ObterAprovacaoPopularAutorProjetos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AtualizarProjetoComAprovacao">
      <soap:operation soapAction="http://tempuri.org/IInterfaceVotacao/AtualizarProjetoComAprovacao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InterfaceVotacao">
    <wsdl:port name="BasicHttpBinding_IInterfaceVotacao" binding="tns:BasicHttpBinding_IInterfaceVotacao">
      <soap:address location="http://localhost:55332/InterfaceVotacao.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>