TechnoDemokratia/TechnoDemokratia/Service References/ServicoVotacao/InterfaceVotacao1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServicoVotacao.TO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServicoVotacao.TO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="VotoTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RetornoServicoTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="IdArtigo" type="xs:int" />
          <xs:element minOccurs="0" name="IdPessoa" type="xs:int" />
          <xs:element minOccurs="0" name="IdVoto" type="xs:int" />
          <xs:element minOccurs="0" name="OpcaoVoto" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VotoTO" nillable="true" type="tns:VotoTO" />
  <xs:complexType name="RetornoServicoTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="DescricaoFalha" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sucesso" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoServicoTO" nillable="true" type="tns:RetornoServicoTO" />
  <xs:complexType name="ContagemVotosTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RetornoServicoTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="ContagemAFavor" type="xs:int" />
          <xs:element minOccurs="0" name="ContagemContra" type="xs:int" />
          <xs:element minOccurs="0" name="ContagemTotal" type="xs:int" />
          <xs:element minOccurs="0" name="IdPessoa" type="xs:int" />
          <xs:element minOccurs="0" name="IdProjeto" type="xs:int" />
          <xs:element minOccurs="0" name="idArtigo" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ContagemVotosTO" nillable="true" type="tns:ContagemVotosTO" />
</xs:schema>