TechnoDemokratia/TechnoDemokratia/Service References/ServicoArticulacao/InterfaceArticulacao2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServicoArticulacao.TO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServicoArticulacao.TO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ComentarioTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RetornoServicoTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IdArtigo" type="xs:int" />
          <xs:element minOccurs="0" name="IdComentario" type="xs:int" />
          <xs:element minOccurs="0" name="IdComentarioPai" type="xs:int" />
          <xs:element minOccurs="0" name="IdPessoa" type="xs:int" />
          <xs:element minOccurs="0" name="Ordem" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ComentarioTO" nillable="true" type="tns:ComentarioTO" />
  <xs:complexType name="RetornoServicoTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="DescricaoFalha" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sucesso" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoServicoTO" nillable="true" type="tns:RetornoServicoTO" />
  <xs:complexType name="ArrayOfReferenciaTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReferenciaTO" nillable="true" type="tns:ReferenciaTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReferenciaTO" nillable="true" type="tns:ArrayOfReferenciaTO" />
  <xs:complexType name="ReferenciaTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RetornoServicoTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="IdComentario" type="xs:int" />
          <xs:element minOccurs="0" name="IdReferencia" type="xs:int" />
          <xs:element minOccurs="0" name="LinkReferencia" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReferenciaTO" nillable="true" type="tns:ReferenciaTO" />
  <xs:complexType name="ListaReferenciaTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RetornoServicoTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Lista" nillable="true" type="tns:ArrayOfReferenciaTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListaReferenciaTO" nillable="true" type="tns:ListaReferenciaTO" />
</xs:schema>